# Copyright 2024 NXP
# SPDX-License-Identifier: BSD-3-Clause

config MAESTRO_OSA_USE
    bool "Adds NXP OSA layer into build."
    default y

config OSA_DEBUG_ASSERT_ENABLED
    int "Adds asserts when error occurs."
    default 0

config OSA_SHOW_API_INCOMPATIBILITIES
    int "Prints warnings/errors related to incompatible API, so user can make sure what API should be checked."
    default 0